<template name="polls">
  <div class="flex flex-col items-center p-4">
    {{#if hasPolls}}
      <h2 class="text-2xl font-bold mt-4 mb-2">Votacions obertes:</h2>
      {{#each polls}}
        <div class="flex flex-col items-center self-center my-4">
          <span class="text-xl font-bold mt-3">{{question}}</span>
          {{#if hasVoted _id}}
            <p class="text-lg my-3">Has votat: {{vote _id}}</p>
            <button class="remove-vote bg-gray-300 hover:bg-gray-400 text-white font-bold py-2 px-6 rounded">Eliminar vot</button>
          {{else}}
            <div class="flex my-3">
              {{#each option in options}}
                <button class="vote bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-6 mr-3 rounded" option="{{option}}">{{option}}</button>
              {{/each}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <h2 class="text-2xl font-bold my-4">Ara mateix no hi ha cap votació oberta.</h2>
    {{/if}}
  </div>
</template>